#footer-main {
  background-color: #131313;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer-main .flex-row-content {
  justify-content: right;
}
.footer-content h1 {
  visibility: hidden;
}
.footer-content {
  height: 100%;
}
.footer-content .social {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-content .social h3 {
  color: #bbb;
}
.footer-content .social .contact {
  height: 1.6rem;
  width: 1.3rem;
  color: var(--dark-green);
}
.footer-content .social .contact:hover {
  color: var(--dark-green-secondary);
}
.footer-content .social a {
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  #footer-main .flex-row-content {
    justify-content: center;
  }
}
