#header-main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* NAVBAR */
#header-main .navbar-container {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 11;
  background-color: #131313;
  box-shadow: inset 0px 0px 2rem #1a1a1a;
}

#header-main .navbar {
  /* padding: 1rem 2rem; */
  width: 100%;
  height: 8vh;
}

#header-main nav img {
  object-fit: cover;
  /* width: 5%; */
  height: 100%;
  /* padding: 10px; */
  border-radius: 50%;
}
#header-main nav input {
  background: #f4f4f4;
  border-radius: 5px;
  /* border: 1px solid #fff; */
  border: none;
  text-align: left;
  padding: 0.5rem 2rem;
}
#header-main nav h2 {
  cursor: pointer;
  border-bottom: 4px transparent solid;
}
#header-main nav h2:hover {
  border-bottom: 4px yellow solid;
}

/* SHOWCASE */
#header-main .showcase {
  background: url(/src/showcase.jpg) no-repeat center 25% / cover;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-main .showcase * {
  z-index: 10;
}

#header-main .showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}

/* SHOWCASE DESCRIPTION MOVIE */
#header-main .showcase .movie-content {
  height: 100%;
  width: 100%;
  display: flex;
}
#header-main .showcase .movie-content .detalhes-box {
  display: grid;
  /* grid-template-columns: repeat(2, auto); */
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: 75vh;
}
#header-main .showcase .movie-content .detalhes-box .detalhes-img {
  object-fit: cover;
  height: 85%;
  align-self: center;
  box-shadow: 12px 9px 1.5rem #060606;
}
#header-main .showcase .movie-content .detalhes-box .description {
  /* background-color: rgb(0, 135, 253); */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-around;
}
#header-main .showcase .movie-content .detalhes-box .description span {
  color: #d4ff00;
}

#header-main
  .showcase
  .movie-content
  .detalhes-box
  .description
  > *:first-child,
#header-main
  .showcase
  .movie-content
  .detalhes-box
  .description
  > *:nth-child(2) {
  text-align: center;
}
