#showcase-main {
  background: url(../../showcase.jpg) no-repeat center top / cover;
  /* background-color: rgb(32, 36, 36); */
  height: 50vh;
  position: relative;
  clip-path: polygon(0rem 0rem, 100% 0, 100% 50vh, 0 95%);
  z-index: 1;
}

#showcase-main * {
  z-index: 10;
}

#showcase-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
