:root {
  --bg-dark: #000;
  --bg-white: #fff;
  --main-green: #d4ff00;
  --dark-green: #6c8100;
  --dark-green-secondary: #98b500;
  --main-color-trasnparent: rgba(255, 188, 0, 0.6);
  /* --max-width2: 100%; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.6;
  background-color: #262525;
  color: #fff;
}
